.footer.has-cards:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 600px;
  height: 2000px;
  background: #f2f2f2;
  -webkit-transform: skew(0, -8deg);
  transform: skew(0, -8deg);
}