.section-hero .shape-container h2 {
  color: #2d4663;
  border-left: 1rem solid #5db9ac;
  padding-left: 1rem;
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  @include media-breakpoint-down(md){
    font-size: 2.2rem;
  }
  span{
    font-weight: bold;
    display: inline-block;
  }
}

.section-hero{
  @include media-breakpoint-down(md){
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}