$dark-blue: #1d3155;

.navbar-toggler{
  background: $dark-blue;
}

.navbar-transparent {
  .navbar-brand{
    img{
      max-width: 250px;
    }
  }
  .navbar-nav {
    .nav-link{
      color: $dark-blue;
      font-size: 1.2rem;
      text-transform: uppercase;
      &:hover{
        color:$dark-blue;
        font-weight: bold;
      }
    }
  }
}

